.CodeRay pre {
    padding: 10px 25px;
    font-size: 12pt;
}

.CodeRay .keyword, .CodeRay .local-variable {
    color: #00D1E2;
    text-shadow: 2px 2px 0 #1B56A0;
}

.CodeRay .key {
    color: #0097E1;
    text-shadow: 2px 2px 0 #155777;
}

.CodeRay .string {
    color: #99FF66;
    text-shadow: 2px 2px 0 #316B14;
}

.CodeRay .comment {
    color: #0a0;
    text-shadow: 2px 2px 0 #034403;
}
